---
import { Image } from "astro:assets";

import type { ImageSet } from "../types/image-set";

import urlFor from "../helpers/image-url-builder";
import type { ImageAsset } from "sanity";

const {
  image: { asset, alt },
} = Astro.props as {
  image: { asset: ImageAsset; alt: string };
};

const largeImageUrl = urlFor(asset._id).width(900).url();
const smallImageUrl = urlFor(asset._id).width(600).url();
---

{
  (
    <div>
      <Image
        src={largeImageUrl}
        sizes="(max-width: 789px) 100vw, (max-width: 1199px) 80vw, 50vw"
        srcset={`
    ${smallImageUrl} 500w,
    ${largeImageUrl} 900w
  `}
        alt={alt}
        style={{ width: "100%", height: "auto" }}
        inferSize={true}
      />
    </div>
  )
}
