---
import type { ImageAsset } from "sanity";
import { sanityClient } from "sanity:client";
import { type AboutPage } from "../types/about";

import Layout from "../layouts/Layout.astro";
import ImageText from "../components/ImageText.astro";
import ImageTextFullWidth from "../components/ImageTextFullWidth.astro";
import Contact from "../components/Contact.astro";
import Map from "../components/Map.astro";
import { Carousel } from "../react-components/Carousel.tsx";
import Checklist from "../snippets/Checklist.astro";

import urlFor from "../helpers/image-url-builder";

import { ADDRESS } from "../consts";

const data: AboutPage["data"] = await sanityClient.fetch(
  `*[_type == "aboutPage"]{
  carouselImages->{
    images[]{
      asset->,
        alt
    },
  },
  imageAndText->{
    heading,
    buttonText,
    eyebrowText,
    text,
    image{
      asset->,
        alt
    }
  },
  secondImageAndText->{
    heading,
    buttonText,
    eyebrowText,
    text,
    image{
      asset->,
        alt
    }
        },
    thirdImageAndText->{
    heading,
    buttonText,
    eyebrowText,
    text,
    image{
      asset->,
        alt
    }
  },
  contactImage{
    asset->,
    alt
  }
}
`
);

const images = data[0].carouselImages.images.map((image) => {
  const imageId = image.asset._id;

  const smallImage: string = urlFor(imageId).width(500).url();
  const largeImage: string = urlFor(imageId).width(900).url();

  return {
    smallImage,
    largeImage,
  };
});
---

<Layout title="About Me">
  <section class="green-background">
    <ImageText
      imageAndText={data[0].imageAndText}
      address={ADDRESS}
      fullWidth={true}
      switchAlignment={true}
    >
      <Checklist
        slot="special-content"
        textList={[
          "Stone Fireplace",
          "Sleeps 7",
          "Pine Interior",
          "2 Bathrooms",
          "Master Suite",
          "3 Bedrooms",
        ]}
      />
    </ImageText>
  </section>
  <section>
    <ImageText imageAndText={data[0].secondImageAndText} />
  </section>
  <section>
    <ImageText
      imageAndText={data[0].thirdImageAndText}
      switchAlignment={true}
    />
  </section>
  <section>
    <h2
      class:list={[
        "cormorant-regular",
        "max-content-width",
        "max-page-width",
        "page-padding",
      ]}
    >
      Gallery
    </h2>
  </section>
  <section>
    <Carousel images={images} client:load />
  </section>
  <section>
    <Contact contactImage={data[0].contactImage} />
  </section>
  <section>
    <Map />
  </section>
  <style>
    .green-background {
      background-color: var(--light-green);
    }
  </style>
</Layout>
