---
import { sanityClient } from "sanity:client";
import { Icon } from "astro-icon/components";

import { type HomePage } from "../types/home-page";
import ImageText from "../components/ImageText.astro";
import Hero from "../components/Hero.astro";

import BareLayout from "../layouts/BareLayout.astro";

import NavBar from "../components/NavBar.astro";

const data: HomePage["data"] = await sanityClient.fetch(
  `*[_type == "homepage"]{
  hero->{
    heading, 
    subheading, 
    backgroundImage->{ mainImage{ asset->{path}},
      smallImage{ asset->{path}},
    mediumImage{ asset->{path}}, photoDescription}
    },
  imageAndText->{
    photo->{mainImage{asset->{path}} ,mediumImage{asset->{path}}, smallImage{asset->{path}}, photoDescription},
    heading,
    text,
    buttonText,
    eyebrowText
  }
}`
);

// Hero
const hero = data[0].hero;
// const heading = hero.hero.heading;
// const subheading = hero.hero.subheading;
const backgroundImage = hero.backgroundImage;
---

<BareLayout title="Home | Cabin10">
  <div
    class:list={["navhero"]}
    style=`background-image: url("${backgroundImage.mainImage.asset.url}");`
  >
    <section>
      <NavBar>
        <Icon
          slot="white-logo"
          name="c10-normal-logo-white"
          id="cabin10-logo"
        />
      </NavBar>
    </section>
    <section>
      <Hero hero={data[0].hero} />
    </section>
  </div>
  <!-- <section>
    <ImageText imageAndText={data[0].imageAndText} />
  </section> -->
</BareLayout>

{JSON.stringify(data[0].hero)}

<style>
  .navhero {
    min-height: 100vh;
    width: 100vw;
  }
  #cabin10-logo {
    font-size: 3em;
  }
</style>
