---
import { sanityClient } from "../helpers/sanity-client";
import { Icon } from "astro-icon/components";

import { type HomePage } from "../types/home-page";

import ImageText from "../components/ImageText.astro";
import Hero from "../components/Hero.astro";
import Checklist from "../snippets/Checklist.astro";
import Map from "../components/Map.astro";
import CTASection from "../components/CTASection.astro";
import Contact from "../components/Contact.astro";

import BareLayout from "../layouts/BareLayout.astro";

import NavBar from "../components/NavBar.astro";

import heroImageLarge from "../images/hero-image-large.webp";

const data: HomePage["data"] = await sanityClient.fetch(
  `*[_type == "homepage"]{
  hero->{
    heading, 
    subheading, 
    },
  imageAndText->{
    image{alt, asset->},
    heading,
    text,
    buttonText,
    eyebrowText
  },
  secondImageAndText->{
    image{alt, asset->},
    heading,
    text,
    buttonText,
    eyebrowText
  },
  contactImage{asset->, alt}
}
`
);

// Hero
const hero = data[0].hero;
---

<BareLayout title="Home | Cabin10">
  <div
    style={`background-image: url("${heroImageLarge.src}");`}
    class:list={["navhero"]}
  >
    <section>
      <NavBar ligthBackground={false}>
        <Icon
          slot="white-logo"
          name="c10-normal-logo-white"
          id="cabin10-logo"
        />
      </NavBar>
    </section>
    <section>
      <Hero hero={data[0].hero} />
    </section>
  </div>
  <section>
    <ImageText buttonLink={"/about"} imageAndText={data[0].imageAndText}>
      <Checklist
        slot="special-content"
        textList={[
          "Picturesque Views",
          "Riverside Location",
          "Heated Pool",
          "Firepit",
          "Stone Fireplace",
          "Cozy Interior",
        ]}
      />
    </ImageText>
  </section>
  <section>
    <ImageText
      imageAndText={data[0].secondImageAndText}
      switchAlignment={true}
      buttonLink="/things-to-do"
    />
  </section>
  <section>
    <CTASection />
  </section>
  <section>
    <Contact contactImage={data[0].contactImage} />
  </section>
  <section>
    <Map />
  </section>
</BareLayout>

<style>
  #cabin10-logo {
    font-size: 1.5em;
    @media only screen and (min-width: 481px) {
      font-size: 2em;
    }
    @media only screen and (min-width: 789px) {
      font-size: 3em;
    }
  }
</style>
