---
// AVOID ANY SORT OF INJECTIONS/ VALIDATE THIS SHIT

import Button from "./Button.astro";

const currentDateString = new Date().toISOString().slice(0, 19);
---

<div class:list={["page-padding", "content-padding-normal"]}>
  <form class="form">
    <span class:list={["form-item"]}>
      <label for="name"> Name </label>
      <input
        class:list={["form-field"]}
        name="name"
        type="text"
        autocomplete="off"
        required
      />
    </span>

    <span class:list={["form-item"]}>
      <label for="name"> Email </label>
      <input
        class:list={["form-field"]}
        name="email"
        type="text"
        autocomplete="off"
        required
      />
    </span>

    <span class:list={["form-item"]}>
      <label for="collection-time"> Collection Time </label>
      <input
        class:list={["form-field"]}
        name="collection-time"
        type="datetime-local"
        min={currentDateString}
        value={currentDateString}
        required
      />
    </span>

    <span class:list={["form-item"]}>
      <label for="delivery-time"> Delivery Time </label>
      <input
        class:list={["form-field"]}
        name="delivery-time"
        type="datetime-local"
        min={currentDateString}
        value={currentDateString}
        required
      />
    </span>

    <span class:list={["form-item"]}>
      <label for="vehicle"> Vehicle </label>
      <input
        class:list={["form-field"]}
        name="vehicle"
        type="text"
        autocomplete="off"
        required
      />
    </span>

    <span class:list={["form-item"]}>
      <label for="service"> Service </label>
      <select class:list={["form-field"]} name="service" required>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
      </select>
    </span>

    <span class:list={["form-item"]}>
      <label for="special-instructions"> Special Instructions </label>
      <textarea
        class:list={["form-field"]}
        name="special-instructions"
        autocomplete="off"></textarea>
    </span>

    <span class:list={["button-field"]}>
      <Button buttonStyle="primary" submitButton={true}> Book Today </Button>
    </span>
  </form>
</div>

<style>
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: solid 1px lightgray;
    padding: 16px;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .form-field {
    border: 1px solid lightgray;
    font-family: sans-serif;
    line-height: 140%;
    padding: 4px;
  }

  .button-field {
    align-self: center;
  }
</style>
