---
import { Image } from "astro:assets";
import ImageSet from "../snippets/ImageSet.astro";
import LinkButton from "./LinkButton.astro";

import { type ImageText } from "../types/component-types";
const { imageAndText, switchAlignment, address, noButton } = Astro.props as {
  imageAndText: ImageText;
  switchAlignment: boolean;
  address?: string;
  fullWidth?: boolean;
  noButton?: boolean;
};

const { eyebrowText, heading, text, image, buttonText } = imageAndText;
const alignmentClass = switchAlignment ? "left-right" : "right-left";
---

<div class:list={["max-page-width", "content-padding-normal"]}>
  <div class:list={["main-container", "page-padding", "max-content-width"]}>
    {
      eyebrowText && (
        <div class:list={["eyebrow-container", "hide-on-desktop"]}>
          <p class:list={["eyebrow-text"]}>{eyebrowText}</p>
        </div>
      )
    }
    {
      heading && (
        <div class:list={["header-container", "hide-on-desktop"]}>
          <h2 class:list={["cormorant-regular"]}>{heading}</h2>
        </div>
      )
    }
    <div class:list={["content-container", `${alignmentClass}`]}>
      <div class:list={["text-container"]}>
        {
          eyebrowText && (
            <div class:list={["eyebrow-container", "hide-on-mobile"]}>
              <p class:list={["eyebrow-text"]}>{eyebrowText}</p>
            </div>
          )
        }
        {
          heading && (
            <div class:list={["header-container", "hide-on-mobile"]}>
              <h2 class:list={["cormorant-regular"]}>{heading}</h2>
            </div>
          )
        }

        {address && <h5 class="">{address}</h5>}

        <h6 class="">{text}</h6>

        <slot name="special-content" />

        {
          !noButton && (
            <div class:list={["button-container", "hide-on-mobile"]}>
              {buttonText && (
                <LinkButton buttonStyle="special" fullWidth={true}>
                  {buttonText}
                </LinkButton>
              )}
              <LinkButton
                externalLink={true}
                buttonStyle="secondary"
                fullWidth={true}
              >
                Book Today
              </LinkButton>
            </div>
          )
        }
      </div>
      <div class:list={["image-container"]}>
        <ImageSet image={image} />
      </div>
    </div>
    {
      !noButton && (
        <div class:list={["button-container", "hide-on-desktop"]}>
          {buttonText && (
            <LinkButton buttonStyle="special" fullWidth={true}>
              {buttonText}
            </LinkButton>
          )}
          <LinkButton
            link="externalLink={true}"
            buttonStyle="secondary"
            fullWidth={true}
          >
            Book Today
          </LinkButton>
        </div>
      )
    }
  </div>
</div>
<style>
  .main-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .content-container {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
    position: relative;
  }

  .image-container {
    text-align: center;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main-container,
  .text-container {
    gap: 24px;
  }

  .button-container {
    display: flex;
    gap: 16px;
  }

  .image {
    width: 200px;
    height: 200px;
  }

  .button {
    align-self: end;
  }

  .header-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .header-container h5 {
    font-weight: lighter;
  }

  @media screen and (min-width: 789px) {
    .main-container,
    .text-container {
      gap: 16px;
    }

    .image {
      width: 100%;
    }

    .button-container {
      padding-top: 32px;
    }
  }

  @media screen and (min-width: 1200px) {
    .header-container {
      align-self: flex-start;
    }

    .content-container {
      gap: 96px;
    }

    .left-right {
      flex-direction: row-reverse;
    }
    .right-left {
      flex-direction: row;
    }

    .text-container {
      width: 50%;
    }

    .image-container {
      width: 50%;
    }
  }
</style>
